In [1]:
# Dependencies
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import requests
from census import Census

In [2]:
csv_file = '../green_city/medianHouseholdIncome.csv'
csv_file

'../green_city/medianHouseholdIncome.csv'

In [4]:
Household_Income_df = pd.read_csv(csv_file)

In [5]:
Household_Income_df["State / County Name"].value_counts()

Woodford County (IL)           6
Delaware County (OK)           6
Scott County (KS)              6
Palo Pinto County (TX)         6
Dickens County (TX)            6
                              ..
Petersburg Census Area (AK)    4
Bedford city (VA)              4
Petersburg Borough (AK)        2
Oglala Lakota County (SD)      1
Kusilvak Census Area (AK)      1
Name: State / County Name, Length: 3198, dtype: int64

In [6]:
ND_Household_Income_df = Household_Income_df.loc[(Household_Income_df["State"]==38)]

,Year,State,County ID,State / County Name,All Ages SAIPE Poverty Universe,All Ages in Poverty Count,All Ages in Poverty Count LB 90%,All Ages in Poverty Count UB 90%,90% Confidence Interval (All Ages in Poverty Count),All Ages in Poverty Percent,...,Under Age 5 in Poverty Count UB 90%,90% Confidence Interval (Under Age 5 in Poverty Count),Under Age 5 in Poverty Percent,Under Age 5 in Poverty Percent LB 90%,Under Age 5 in Poverty Percent UB 90%,90% Confidence Interval (Under Age 5 in Poverty Percent),Median Household Income in Dollars,Median Household Income in Dollars LB 90%,Median Household Income in Dollars UB 90%,90% Confidence Interval (Median Household Income in Dollars)
84,2015,38,38001,Adams County (ND),"2,299",233,181,285,181 to 285,10.1,...,NaN,NaN,NaN,NaN,NaN,NaN,"$48,106","$43,208","$53,004","$43,208 to $53,004"
85,2014,38,38001,Adams County (ND),"2,310",236,180,292,180 to 292,10.2,...,NaN,NaN,NaN,NaN,NaN,NaN,"$45,710","$41,251","$50,169","$41,251 to $50,169"
86,2013,38,38001,Adams County (ND),"2,307",235,181,289,181 to 289,10.2,...,NaN,NaN,NaN,NaN,NaN,NaN,"$44,833","$42,080","$47,586","$42,080 to $47,586"
87,2012,38,38001,Adams County (ND),"2,271",233,184,282,184 to 282,10.3,...,NaN,NaN,NaN,NaN,NaN,NaN,"$45,829","$41,960","$49,698","$41,960 to $49,698"
88,2011,38,38001,Adams County (ND),"2,253",234,178,290,178 to 290,10.4,...,NaN,NaN,NaN,NaN,NaN,NaN,"$43,836","$39,545","$48,127","$39,545 to $48,127"
89,2010,38,38001,Adams County (ND),"2,293",238,180,296,180 to 296,10.4,...,NaN,NaN,NaN,NaN,NaN,NaN,"$40,082","$36,276","$43,888","$36,276 to $43,888"
822,2015,38,38003,Barnes County (ND),"10,579","1,315","1,085","1,545","1,085 to 1,545",12.4,...,NaN,NaN,NaN,NaN,NaN,NaN,"$51,053","$46,004","$56,102","$46,004 to $56,102"
823,2014,38,38003,Barnes County (ND),"10,603","1,097",835,"1,359","835 to 1,359",10.3,...,NaN,NaN,NaN,NaN,NaN,NaN,"$52,376","$47,910","$56,842","$47,910 to $56,842"
824,2013,38,38003,Barnes County (ND),"10,686","1,163",918,"1,408","918 to 1,408",10.9,...,NaN,NaN,NaN,NaN,NaN,NaN,"$52,035","$47,273","$56,797","$47,273 to $56,797"
825,2012,38,38003,Barnes County (ND),"10,507","1,162",928,"1,396","928 to 1,396",11.1,...,NaN,NaN,NaN,NaN,NaN,NaN,"$50,820","$46,272","$55,368","$46,272 to $55,368"
826,2011,38,38003,Barnes County (ND),"10,583","1,125",853,"1,397","853 to 1,397",10.6,...,NaN,NaN,NaN,NaN,NaN,NaN,"$47,839","$43,243","$52,435","$43,243 to $52,435"
827,2010,38,38003,Barnes County (ND),"10,593","1,213",951,"1,475","951 to 1,475",11.5,...,NaN,NaN,NaN,NaN,NaN,NaN,"$45,884","$41,714","$50,054","$41,714 to $50,054"
1096,2015,38,38005,Benson County (ND),"6,702","1,872","1,524","2,220","1,524 to 2,220",27.9,...,NaN,NaN,NaN,NaN,NaN,NaN,"$39,969","$36,793","$43,145","$36,793 to $43,145"
1097,2014,38,38005,Benson County (ND),"6,763","2,025","1,664","2,386","1,664 to 2,386",29.9,...,NaN,NaN,NaN,NaN,NaN,NaN,"$39,342","$35,602","$43,082","$35,602 to $43,082"
1098,2013,38,38005,Benson County (ND),"6,834","2,063","1,743","2,383","1,743 to 2,383",30.2,...,NaN,NaN,NaN,NaN,NaN,NaN,"$42,326","$39,311","$45,341","$39,311 to $45,341"
1099,2012,38,38005,Benson County (ND),"6,700","2,178","1,896","2,460","1,896 to 2,460",32.5,...,NaN,NaN,NaN,NaN,NaN,NaN,"$36,435","$33,489","$39,381","$33,489 to $39,381"
1100,2011,38,38005,Benson County (ND),"6,678","1,842","1,482","2,202","1,482 to 2,202",27.6,...,NaN,NaN,NaN,NaN,NaN,NaN,"$38,299","$34,815","$41,783","$34,815 to $41,783"
1101,2010,38,38005,Benson County (ND),"6,644","2,319","1,985","2,653","1,985 to 2,653",34.9,...,NaN,NaN,NaN,NaN,NaN,NaN,"$32,884","$30,448","$35,320","$30,448 to $35,320"
1270,2015,38,38007,Billings County (ND),932,66,51,81,51 to 81,7.1,...,NaN,NaN,NaN,NaN,NaN,NaN,"$76,913","$68,745","$85,081","$68,745 to $85,081"
1271,2014,38,38007,Billings County (ND),896,69,53,85,53 to 85,7.7,...,NaN,NaN,NaN,NaN,NaN,NaN,"$75,096","$67,057","$83,135","$67,057 to $83,135"
1272,2013,38,38007,Billings County (ND),871,71,55,87,55 to 87,8.2,...,NaN,NaN,NaN,NaN,NaN,NaN,"$74,636","$67,099","$82,173","$67,099 to $82,173"
1273,2012,38,38007,Billings County (ND),901,80,62,98,62 to 98,8.9,...,NaN,NaN,NaN,NaN,NaN,NaN,"$65,346","$58,923","$71,769","$58,923 to $71,769"
1274,2011,38,38007,Billings County (ND),813,73,56,90,56 to 90,9.0,...,NaN,NaN,NaN,NaN,NaN,NaN,"$60,506","$54,270","$66,742","$54,270 to $66,742"
1275,2010,38,38007,Billings County (ND),776,93,71,115,71 to 115,12.0,...,NaN,NaN,NaN,NaN,NaN,NaN,"$50,921","$45,976","$55,866","$45,976 to $55,866"
1486,2015,38,38009,Bottineau County (ND),"6,428",683,533,833,533 to 833,10.6,...,NaN,NaN,NaN,NaN,NaN,NaN,"$56,645","$50,788","$62,502","$50,788 to $62,502"
1487,2014,38,38009,Bottineau County (ND),"6,378",618,476,760,476 to 760,9.7,...,NaN,NaN,NaN,NaN,NaN,NaN,"$56,965","$51,366","$62,564","$51,366 to $62,564"
1488,2013,38,38009,Bottineau County (ND),"6,452",643,506,780,506 to 780,10.0,...,NaN,NaN,NaN,NaN,NaN,NaN,"$61,279","$56,199","$66,359","$56,199 to $66,359"
1489,2012,38,38009,Bottineau County (ND),"6,273",658,528,788,528 to 788,10.5,...,NaN,NaN,NaN,NaN,NaN,NaN,"$50,756","$46,933","$54,579","$46,933 to $54,579"
1490,2011,38,38009,Bottineau County (ND),"6,153",639,497,781,497 to 781,10.4,...,NaN,NaN,NaN,NaN,NaN,NaN,"$52,360","$47,358","$57,362","$47,358 to $57,362"
1491,2010,38,38009,Bottineau County (ND),"6,149",727,574,880,574 to 880,11.8,...,NaN,NaN,NaN,NaN,NaN,NaN,"$48,504","$44,019","$52,989","$44,019 to $52,989"
1522,2015,38,38011,Bowman County (ND),"3,239",245,194,296,194 to 296,7.6,...,NaN,NaN,NaN,NaN,NaN,NaN,"$62,892","$56,640","$69,144","$56,640 to $69,144"
1523,2014,38,38011,Bowman County (ND),"3,211",238,180,296,180 to 296,7.4,...,NaN,NaN,NaN,NaN,NaN,NaN,"$60,946","$54,675","$67,217","$54,675 to $67,217"
1524,2013,38,38011,Bowman County (ND),"3,178",255,202,308,202 to 308,8.0,...,NaN,NaN,NaN,NaN,NaN,NaN,"$60,429","$54,437","$66,421","$54,437 to $66,421"
1525,2012,38,38011,Bowman County (ND),"3,128",231,181,281,181 to 281,7.4,...,NaN,NaN,NaN,NaN,NaN,NaN,"$56,238","$50,904","$61,572","$50,904 to $61,572"
1526,2011,38,38011,Bowman County (ND),"3,062",260,204,316,204 to 316,8.5,...,NaN,NaN,NaN,NaN,NaN,NaN,"$56,721","$51,560","$61,882","$51,560 to $61,882"
1527,2010,38,38011,Bowman County (ND),"3,079",248,190,306,190 to 306,8.1,...,NaN,NaN,NaN,NaN,NaN,NaN,"$49,656","$44,870","$54,442","$44,870 to $54,442"
1918,2015,38,38013,Burke County (ND),"2,296",192,148,236,148 to 236,8.4,...,NaN,NaN,NaN,NaN,NaN,NaN,"$68,477","$61,444","$75,510","$61,444 to $75,510"
1919,2014,38,38013,Burke County (ND),"2,230",185,142,228,142 to 228,8.3,...,NaN,NaN,NaN,NaN,NaN,NaN,"$62,875","$56,539","$69,211","$56,539 to $69,211"
1920,2013,38,38013,Burke County (ND),"2,296",218,174,262,174 to 262,9.5,...,NaN,NaN,NaN,NaN,NaN,NaN,"$60,416","$54,302","$66,530","$54,302 to $66,530"
1921,2012,38,38013,Burke County (ND),"2,159",187,152,222,152 to 222,8.7,...,NaN,NaN,NaN,NaN,NaN,NaN,"$53,347","$48,468","$58,226","$48,468 to $58,226"
1922,2011,38,38013,Burke County (ND),"2,024",179,139,219,139 to 219,8.8,...,NaN,NaN,NaN,NaN,NaN,NaN,"$49,481","$44,421","$54,541","$44,421 to $54,541"
1923,2010,38,38013,Burke County (ND),"1,961",195,147,243,147 to 243,9.9,...,NaN,NaN,NaN,NaN,NaN,NaN,"$49,575","$44,942","$54,208","$44,942 to $54,208"
1924,2015,38,38015,Burleigh County (ND),"89,570","8,048","6,890","9,206","6,890 to 9,206",9.0,...,NaN,NaN,NaN,NaN,NaN,NaN,"$66,057","$62,050","$70,064","$62,050 to $70,064"
1925,2014,38,38015,Burleigh County (ND),"86,998","7,160","5,994","8,326","5,994 to 8,326",8.2,...,NaN,NaN,NaN,NaN,NaN,NaN,"$66,734","$62,046","$71,422","$62,046 to $71,422"
1926,2013,38,38015,Burleigh County (ND),"85,477","7,088","5,954","8,222","5,954 to 8,222",8.3,...,NaN,NaN,NaN,NaN,NaN,NaN,"$63,503","$59,280","$67,726","$59,280 to $67,726"
1927,2012,38,38015,Burleigh County (ND),"82,656","5,625","4,455","6,795","4,455 to 6,795",6.8,...,NaN,NaN,NaN,NaN,NaN,NaN,"$62,104","$58,947","$65,261","$58,947 to $65,261"
1928,2011,38,38015,Burleigh County (ND),"80,470","7,347","6,119","8,575","6,119 to 8,575",9.1,...,NaN,NaN,NaN,NaN,NaN,NaN,"$57,519","$53,654","$61,384","$53,654 to $61,384"
1929,2010,38,38015,Burleigh County (ND),"79,036","7,353","6,128","8,578","6,128 to 8,578",9.3,...,NaN,NaN,NaN,NaN,NaN,NaN,"$55,565","$51,639","$59,491","$51,639 to $59,491"
2572,2015,38,38017,Cass County (ND),"166,172","17,733","15,695","19,771","15,695 to 19,771",10.7,...,NaN,NaN,NaN,NaN,NaN,NaN,"$55,946","$52,141","$59,751","$52,141 to $59,751"
2573,2014,38,38017,Cass County (ND),"161,273","18,221","16,163","20,279","16,163 to 20,279",11.3,...,NaN,NaN,NaN,NaN,NaN,NaN,"$53,755","$50,857","$56,653","$50,857 to $56,653"

In [ ]:
ND_Household_Income_df["State / County Name"].value_counts(ascending=False)

In [7]:
#Burlington County is BU
BU_ND_Income_df = ND_Household_Income_df.loc[(ND_Household_Income_df["State / County Name"]=="Burleigh County (ND)")]
BU_ND_Income_df

,Year,State,County ID,State / County Name,All Ages SAIPE Poverty Universe,All Ages in Poverty Count,All Ages in Poverty Count LB 90%,All Ages in Poverty Count UB 90%,90% Confidence Interval (All Ages in Poverty Count),All Ages in Poverty Percent,...,Under Age 5 in Poverty Count UB 90%,90% Confidence Interval (Under Age 5 in Poverty Count),Under Age 5 in Poverty Percent,Under Age 5 in Poverty Percent LB 90%,Under Age 5 in Poverty Percent UB 90%,90% Confidence Interval (Under Age 5 in Poverty Percent),Median Household Income in Dollars,Median Household Income in Dollars LB 90%,Median Household Income in Dollars UB 90%,90% Confidence Interval (Median Household Income in Dollars)
1924,2015,38,38015,Burleigh County (ND),"89,570","8,048","6,890","9,206","6,890 to 9,206",9.0,...,NaN,NaN,NaN,NaN,NaN,NaN,"$66,057","$62,050","$70,064","$62,050 to $70,064"
1925,2014,38,38015,Burleigh County (ND),"86,998","7,160","5,994","8,326","5,994 to 8,326",8.2,...,NaN,NaN,NaN,NaN,NaN,NaN,"$66,734","$62,046","$71,422","$62,046 to $71,422"
1926,2013,38,38015,Burleigh County (ND),"85,477","7,088","5,954","8,222","5,954 to 8,222",8.3,...,NaN,NaN,NaN,NaN,NaN,NaN,"$63,503","$59,280","$67,726","$59,280 to $67,726"
1927,2012,38,38015,Burleigh County (ND),"82,656","5,625","4,455","6,795","4,455 to 6,795",6.8,...,NaN,NaN,NaN,NaN,NaN,NaN,"$62,104","$58,947","$65,261","$58,947 to $65,261"
1928,2011,38,38015,Burleigh County (ND),"80,470","7,347","6,119","8,575","6,119 to 8,575",9.1,...,NaN,NaN,NaN,NaN,NaN,NaN,"$57,519","$53,654","$61,384","$53,654 to $61,384"
1929,2010,38,38015,Burleigh County (ND),"79,036","7,353","6,128","8,578","6,128 to 8,578",9.3,...,NaN,NaN,NaN,NaN,NaN,NaN,"$55,565","$51,639","$59,491","$51,639 to $59,491"

In [8]:
ND_Household_Income_df = ND_Household_Income_df.drop_duplicates()
ND_Household_Income_df

,Year,State,County ID,State / County Name,All Ages SAIPE Poverty Universe,All Ages in Poverty Count,All Ages in Poverty Count LB 90%,All Ages in Poverty Count UB 90%,90% Confidence Interval (All Ages in Poverty Count),All Ages in Poverty Percent,...,Under Age 5 in Poverty Count UB 90%,90% Confidence Interval (Under Age 5 in Poverty Count),Under Age 5 in Poverty Percent,Under Age 5 in Poverty Percent LB 90%,Under Age 5 in Poverty Percent UB 90%,90% Confidence Interval (Under Age 5 in Poverty Percent),Median Household Income in Dollars,Median Household Income in Dollars LB 90%,Median Household Income in Dollars UB 90%,90% Confidence Interval (Median Household Income in Dollars)
84,2015,38,38001,Adams County (ND),"2,299",233,181,285,181 to 285,10.1,...,NaN,NaN,NaN,NaN,NaN,NaN,"$48,106","$43,208","$53,004","$43,208 to $53,004"
85,2014,38,38001,Adams County (ND),"2,310",236,180,292,180 to 292,10.2,...,NaN,NaN,NaN,NaN,NaN,NaN,"$45,710","$41,251","$50,169","$41,251 to $50,169"
86,2013,38,38001,Adams County (ND),"2,307",235,181,289,181 to 289,10.2,...,NaN,NaN,NaN,NaN,NaN,NaN,"$44,833","$42,080","$47,586","$42,080 to $47,586"
87,2012,38,38001,Adams County (ND),"2,271",233,184,282,184 to 282,10.3,...,NaN,NaN,NaN,NaN,NaN,NaN,"$45,829","$41,960","$49,698","$41,960 to $49,698"
88,2011,38,38001,Adams County (ND),"2,253",234,178,290,178 to 290,10.4,...,NaN,NaN,NaN,NaN,NaN,NaN,"$43,836","$39,545","$48,127","$39,545 to $48,127"
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
18665,2014,38,38105,Williams County (ND),"31,564","2,174","1,731","2,617","1,731 to 2,617",6.9,...,NaN,NaN,NaN,NaN,NaN,NaN,"$86,354","$77,983","$94,725","$77,983 to $94,725"
18666,2013,38,38105,Williams County (ND),"29,129","2,271","1,835","2,707","1,835 to 2,707",7.8,...,NaN,NaN,NaN,NaN,NaN,NaN,"$84,237","$79,145","$89,329","$79,145 to $89,329"
18667,2012,38,38105,Williams County (ND),"26,144","2,041","1,649","2,433","1,649 to 2,433",7.8,...,NaN,NaN,NaN,NaN,NaN,NaN,"$79,265","$74,959","$83,571","$74,959 to $83,571"
18668,2011,38,38105,Williams County (ND),"23,921","1,947","1,511","2,383","1,511 to 2,383",8.1,...,NaN,NaN,NaN,NaN,NaN,NaN,"$67,492","$61,774","$73,210","$61,774 to $73,210"
18669,2010,38,38105,Williams County (ND),"22,119","1,900","1,443","2,357","1,443 to 2,357",8.6,...,NaN,NaN,NaN,NaN,NaN,NaN,"$56,689","$52,142","$61,236","$52,142 to $61,236"

In [9]:
BU_ND_Household_Income_df = BU_ND_Income_df.loc[:, ["Year", "State / County Name", "Median Household Income in Dollars"]]
BU_ND_Household_Income_df

      Year   State / County Name Median Household Income in Dollars
1924  2015  Burleigh County (ND)                           $66,057
1925  2014  Burleigh County (ND)                           $66,734
1926  2013  Burleigh County (ND)                           $63,503
1927  2012  Burleigh County (ND)                           $62,104
1928  2011  Burleigh County (ND)                           $57,519

In [10]:
BU_ND_Household_Income_df.dropna(how="any")

      Year   State / County Name Median Household Income in Dollars
1924  2015  Burleigh County (ND)                           $66,057
1925  2014  Burleigh County (ND)                           $66,734
1926  2013  Burleigh County (ND)                           $63,503
1927  2012  Burleigh County (ND)                           $62,104
1928  2011  Burleigh County (ND)                           $57,519
1929  2010  Burleigh County (ND)                           $55,565

In [12]:
BU_ND_Household_Income_df["Median Household Income"] = BU_ND_Household_Income_df["Median Household Income in Dollars"].str.replace('$', '').str.replace(',', '')
BU_ND_Household_Income_df["Median Household Income"] = pd.to_numeric(BU_ND_Household_Income_df["Median Household Income"])
BU_ND_Household_Income_df["Median Household Income"]

1924    66057
1925    66734
1926    63503
1927    62104
1928    57519
1929    55565
Name: Median Household Income, dtype: int64

In [13]:
BU_ND_Household_Income_df.head()

,Year,State / County Name,Median Household Income in Dollars,Median Household Income
1924,2015,Burleigh County (ND),"$66,057",66057
1925,2014,Burleigh County (ND),"$66,734",66734
1926,2013,Burleigh County (ND),"$63,503",63503
1927,2012,Burleigh County (ND),"$62,104",62104
1928,2011,Burleigh County (ND),"$57,519",57519

In [14]:
#need to fix this
BU_ND_Household_Income_df.describe()

              Year  Median Household Income
count     6.000000                 6.000000
mean   2012.500000             61913.666667
std       1.870829              4529.540713
min    2010.000000             55565.000000
25%    2011.250000             58665.250000
50%    2012.500000             62803.500000
75%    2013.750000             65418.500000
max    2015.000000             66734.000000

In [15]:
BU_ND_Average_HouseHold_income  = BU_ND_Household_Income_df["Median Household Income"].mean()
BU_ND_Average_HouseHold_income

61913.666666666664